<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{dash.name}}" hide-tabs="true">
  <ion-content class="padding index-detail">
    <ion-slide-box auto-play="true" does-continue="true">
      <ion-slide>
        <div class="box blue">
          <img ng-src="{{dash.img}}">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box blue">
          <img ng-src="{{dash.img1}}">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box blue">
          <img ng-src="{{dash.img2}}">
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="list clearfix">
      <label class="item item-input item-select col col-45 col-offset-3 clothes-color float">
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>
      <label class="item item-input item-select col col-45 col-offset-3 clothes-color float">
        <select>
          <option>Size S</option>
          <option selected>Size M</option>
          <option>Size L</option>
        </select>
      </label>
    </div>
    <div class="row index-detail">
      <h5 class="col col-45 col-offset-3 float">{{dash.price}}</h5>
      <button class="button button-assertive col col-45 col-offset-3 float">
        <i class="ion-bag"></i>
          buy
      </button>
    </div>
    <div class="row col col-93 col-offset-3">
      <h2>Description</h2>
      <p>To promote, because of the large years so now discount sale, only 3 days, don't miss, until June 20</p>
    </div>
    <div class="row size">
      <div class="col col-45 col-offset-3">
        <h2 class="calm">Available color</h2>
        <i class="ion-stop balanced"></i>
        <i class="ion-stop positive"></i>
        <i class="ion-stop assertive"></i>
      </div>
      <div class="col col-45 col-offset-3">
        <h2 class="calm">Available size</h2>
        <i>S,M,L</i>
      </div>
    </div>
    <div class="list">
      <a class="item item-avatar">
        <img src="./img/avatar.png">
        <h2>Venkman</h2>
        <p>very good, beautiful!.</p>
      </a>
    </div>
  </ion-content>
</ion-view>
