<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Payment" hide-tabs="true">
  <ion-content>
    <ion-list>
    	<ion-item>Wendy</ion-item>
  		<ion-item>Yuan</ion-item>
  		<ion-item>11011011011</ion-item>
  		<ion-item>Beijing</ion-item>
  		<ion-item>changpingqu</ion-item>
  	
		</ion-list>
		<div class="padding">
    	<a href="#" class="button button-assertive col col-100">Finish your order</a>
    </div>
  </ion-content>
</ion-view>
